.home{
    text-align: center;
    margin-top: 1%;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
}
.menu{
    margin: 4%;
    background-color: whitesmoke;
    /* height: 60vh;    */
    /* max-width: 300px; */
    justify-content: center;
    border-radius: 20px;
}
.gambarmenu{
    padding: 30px;
    height: 50%; 
}
.isigambar{
    height: 80%;
    width: 100%;
    margin-top: 25px;
}
.detailmenu{
    margin: 20;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
}
